<!DOCTYPE html>
<html>
<head>
	<title>Oark Limited | Coming Soon</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Oark Limited is a tech startup in Kenya. Our website will be complete soon, please subscibe to get notified when we launch.">
	
	<meta property="og:site_name" content="Oark Limited">
	<meta property="og:title" content="Oark Limited | Coming Soon">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Oark Limited is a tech startup in Kenya. Our website will be complete soon, please subscibe to get notified when we launch.">
	<meta property="og:image" content="/images/screencapture-oarklimited-desktop.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:url" content="/">
	<meta property="fb:app_id" content="1566522770084268">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OarkLimited">
	<meta name="twitter:creator" content="@OarkLimited">
	<meta name="twitter:title" content="Oark Limited | Coming Soon">
	<meta name="twitter:description" content="Oark Limited is a tech startup in Kenya. Our website will be complete soon, please subscibe to get notified when we launch.">
	<meta name="twitter:image:src" content="/images/screencapture-oarklimited-desktop.png">
	

	<link rel="shortcut icon" href="/images/Oark-Logo-Red.ico">
	<link href="https://fonts.googleapis.com/css?family=Pacifico:400&amp;subset=" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/vendors/bootstrap/tether.min.css" rel="stylesheet" />
	<link href="/vendors/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	{% block content %} {% endblock %}


	{% include "scripts.nunjucks.html" %}
</body>
</html>